<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentor List</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Age</td>
                <td>Gender</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mike</td>
                <td>Smith</td>
                <td>45</td>
                <td>Male</td>
            </tr>
        </tbody>
    </table>

</body>
</html>