<!DOCTYPE html>
<html lang="en"><html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentor Confirmation</title>
</head>
<body>
    <h2>First Name: <span th:text="${mentor.firstName}"></span></h2>
    <h2>Last Name: <span th:text="${mentor.lastName}"></span></h2>
    <h2>Email: <span th:text="${mentor.email}"></span></h2>
    <h2>Gender: <span th:text="${mentor.gender}"></span></h2>
    <h2>Graduated: <span th:text="${mentor.graduated}"></span></h2>
    <h2>Batch Number: <span th:text="${mentor.batch}"></span></h2>
    <h2>Company: <span th:text="${mentor.company}"></span></h2>
</body>
</html>