<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentor Register</title>
</head>
<body>

<div align="center">

    <form th:object="${mentor}">

        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" placeholder="First Name" th:field="*{firstName}">

        <br>

        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" placeholder="Last Name" th:field="*{lastName}">

    </form>

</div>

</body>
</html>