<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--Text-->
    <h2 th:text="${name}"></h2>
    <h3 th:text="${course}"></h3>
    <h3 th:text="${subject}"></h3>
    <h2 th:text="${id}"></h2>

    <h2 th:text="${numbers}"></h2>
    <h2 th:text="${numbers.get(0)}"></h2>

    <h2 th:text="${birthday}"></h2>

    <h2 th:text="${'Hello ' + name}"></h2>
    <h2 th:text="'Hello ' + ${name}"></h2>

    <h2 th:text="${student.getFirstName()}"></h2>
    <h2 th:text="${student.firstName}"></h2>

    <!--Link-->
    <a th:href="@{https://google.com}">Google</a>

</body>
</html>